<h1>Editing appointment_request</h1>

<% form_for(@appointment_request) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :tutor_id %><br />
    <%= f.text_field :tutor_id %>
  </p>
  <p>
    <%= f.label :student_id %><br />
    <%= f.text_field :student_id %>
  </p>
  <p>
    <%= f.label :start %><br />
    <%= f.datetime_select :start %>
  </p>
  <p>
    <%= f.label :end %><br />
    <%= f.datetime_select :end %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @appointment_request %> |
<%= link_to 'Back', appointment_requests_path %>
