<h1>Create an Account</h1>
<% @user.password = @user.password_confirmation = nil %>

<%= error_messages_for :user %>
<%= error_messages_for :student %>

<% form_for :student, :url => {:action => :create} do |f| -%>

<% fields_for :user do |user_fields| %>

<p><%= label_tag 'login' %><br/>
<%= user_fields.text_field :login %></p>

<p><%= label_tag 'email' %><br/>
<%= user_fields.text_field :email %></p>

<p><%= label_tag 'password' %><br/>
<%= user_fields.password_field :password %></p>

<p><%= label_tag 'password_confirmation', 'Confirm Password' %><br/>
<%= user_fields.password_field :password_confirmation %></p>

<% end %>

<% if current_user.has_role? 'admin' %>
<p> <%= label_tag 'client id' %> <br/>
<%= f.text_field :client_id %> </p>
<% end %>

<p><%= submit_tag 'Sign up' %></p>
<% end -%>
